Repository FAUST-BENCHOU/kale: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier-ts, stylelint

.pre-commit-config.yaml:

repos:
  # Keep uv.lock in sync with pyproject.toml changes
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.12
    hooks:
      - id: uv-lock
        name: Check uv.lock is up to date

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(backend/kale/tests/assets/|examples/)
      - id: end-of-file-fixer
        exclude: ^(backend/kale/tests/assets/|examples/)
      - id: check-yaml
        exclude: ^backend/kale/tests/assets/
      - id: check-added-large-files

  # Python linting (ruff is faster than flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix]
        exclude: ^(backend/kale/tests/assets/|examples/|labextension/ui-tests/)
      - id: ruff-format
        exclude: ^(backend/kale/tests/assets/|examples/|labextension/ui-tests/)

  # TypeScript/JavaScript linting for labextension
  - repo: local
    hooks:
      - id: eslint
        name: eslint (labextension)
        entry: bash -c 'cd labextension && uv run jlpm eslint:check --fix'
        language: system
        files: ^labextension/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier-ts
        name: prettier (labextension ts/tsx)
        entry: bash -c 'cd labextension && uv run jlpm prettier:base --write'
        language: system
        files: ^labextension/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: stylelint
        name: stylelint (labextension)
        entry: bash -c 'cd labextension && uv run jlpm stylelint'
        language: system
        files: ^labextension/style/.*\.css$
        pass_filenames: false

ISSUE-594: Fix base-image in examples (#595)
  backend/kale/tests/assets/kfp_dsl/iris.py
  examples/serving/sklearn/iris.ipynb
  examples/serving/xgboost/iris.ipynb
  examples/taxi-cab-classification/taxicab_pipeline.ipynb
Due: none

chore: Code cleanup from some leftover code (#590)
  README.md
  backend/kale/compiler.py
  backend/kale/templates/nb_function_template.jinja2
  backend/kale/templates/new_pipeline_template.jinja2
  backend/kale/templates/pipeline_template.jinja2
  docker/jupyterlab/Dockerfile.rok
  docker/jupyterlab/Dockerfile.rok.dev
  examples/sdk/compression-pipeline.py
  examples/sdk/skeleton.py
  examples/serving/sklearn/iris.ipynb
  examples/serving/xgboost/iris.ipynb
  labextension/src/components/AnnotationInput.tsx
  labextension/src/icons/BrowseInRokBlue.tsx
  labextension/src/widget.tsx
Due: eslint, prettier-ts

chroe(frontend): Better CSS on Compile and upload button
  labextension/src/components/DeployButton.tsx
  labextension/style/index.css
Due: eslint, prettier-ts, stylelint

lint
  labextension/style/index.css
Due: stylelint

chore: Remove SDK and Python processor modules (#591)
  backend/kale/__init__.py
  backend/kale/common/astutils.py
  backend/kale/common/kfputils.py
  backend/kale/compiler.py
  backend/kale/processors/__init__.py
  backend/kale/processors/baseprocessor.py
  backend/kale/processors/nbprocessor.py
  backend/kale/processors/pyprocessor.py
  backend/kale/sdk/__init__.py
  backend/kale/sdk/api.py
  backend/kale/templates/py_function_template.jinja2
  examples/sdk/README.md
  examples/sdk/artifact.py
  examples/sdk/quantile-regression/__init__.py
  examples/sdk/quantile-regression/data/TestData.csv
  examples/sdk/quantile-regression/data/TrainingData.csv
  examples/sdk/quantile-regression/data/outputTrainingData_qr.csv
  examples/sdk/quantile-regression/init.py
  examples/sdk/quantile-regression/lib/__init__.py
  examples/sdk/quantile-regression/lib/modelprototype.py
  examples/sdk/quantile-regression/lib/quantile_regression.py
  examples/sdk/quantile-regression/main.py
  examples/sdk/quantile-regression/postprocess.py
  examples/sdk/quantile-regression/preprocess.py
  examples/sdk/quantile-regression/settings.py
  examples/sdk/quantile-regression/train.py
  examples/sdk/retry-pipeline.py
  examples/sdk/skeleton.py
  examples/sdk/titanic/__init__.py
  examples/sdk/titanic/data/test.csv
  examples/sdk/titanic/data/train.csv
  examples/sdk/titanic/datapreprocessing.py
  examples/sdk/titanic/feature_engineering.py
  examples/sdk/titanic/loaddata.py
  examples/sdk/titanic/logistic_regression.py
  examples/sdk/titanic/main.py
  examples/sdk/titanic/randomforest.py
  examples/sdk/titanic/results.py
  examples/sdk/titanic/svm.py
Due: none

feat(frontend): use notebook name as default pipeline name and handle TaskMissingError (#524)
  backend/kale/compiler.py
  backend/kale/rpc/nb.py
  examples/base/candies_sharing.ipynb
  labextension/src/lib/RPCUtils.tsx
  labextension/src/widgets/LeftPanel.tsx
Due: eslint, prettier-ts

Issue 539 - Remove Marshaller logs from the HTML Artifacts (#579)
  backend/kale/marshal/backend.py
  backend/kale/templates/nb_function_template.jinja2
  backend/kale/tests/assets/kfp_dsl/iris.py
  backend/kale/tests/assets/kfp_dsl/pipeline_parameters_and_metrics.py
Due: none

feat(labextension): Display default base image in cell metadata UI (#593)
  backend/kale/compiler.py
  backend/kale/pipeline.py
  backend/kale/rpc/nb.py
  backend/kale/templates/nb_function_template.jinja2
  labextension/src/lib/Commands.ts
  labextension/src/widgets/LeftPanel.tsx
  labextension/src/widgets/cell-metadata/CellMetadataEditor.tsx
  labextension/src/widgets/cell-metadata/InlineCellMetadata.tsx
  labextension/src/widgets/cell-metadata/InlineMetadata.tsx
Due: eslint, prettier-ts

Add download button for compiled pipeline file (#601)
  backend/kale/rpc/nb.py
  labextension/src/lib/Commands.ts
  labextension/src/widgets/deploys-progress/DeployProgress.tsx
  labextension/src/widgets/deploys-progress/DeploysProgress.tsx
Due: eslint, prettier-ts

fix(labextension): bump lodash, tar, and brace-expansion (#597)
  labextension/yarn.lock
Due: none

bug(backend): Pipeline Version Link Returns "Cannot retrieve pipeline… (#582)
  backend/kale/common/kfputils.py
Due: none

refactor: Replace string-based import parsing with AST-based detection (#592)
  backend/kale/common/imports.py
  backend/kale/compiler.py
  backend/kale/tests/unit_tests/test_imports.py
Due: none

fix: prevent deploy panel stacking on multiple clicks (#602)
  labextension/src/widgets/LeftPanel.tsx
Due: eslint, prettier-ts

issue-557: Improve Depends on Empty State (#603)
  labextension/src/widgets/cell-metadata/CellMetadataEditor.tsx
Due: eslint, prettier-ts

Hiding multiple warnings when building the extension in dev mode (#604)
  labextension/eslint.config.mjs
  labextension/package.json
  labextension/webpack.config.js
Due: none

Issue-609: Pipeline succeeds even with invalid/empty import (#617)
  backend/kale/common/jputils.py
Due: none

Edit button goes below the Cell when adding new cell (#615)
  labextension/src/widgets/cell-metadata/InlineCellMetadata.tsx
Due: eslint, prettier-ts

Kale throws exception when all cells are deleted (#614)
  labextension/src/widgets/cell-metadata/CellMetadataEditor.tsx
Due: eslint, prettier-ts

lint fix
  labextension/src/components/DeployButton.tsx
Due: eslint, prettier-ts

docs: fix broken link to CONTRIBUTING.md in README (#626)
  README.md
Due: none

remove `default` `version_name` because it is never used (#629)
  backend/kale/common/kfputils.py
Due: none
